::-webkit-scrollbar{
   overflow:hidden ;
   width: 0px;
}

body
{
    background-color: $body;
    color: $primary;
    
}
.weberror
{
    width: 100%;
    text-align: center;
    font-size: 400%;
    animation-name: err;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes err
{
    0%
    {
        color: lightcoral;
    }
    50%
    {
        color: red;
    }
    100%
    {
        color: lightcoral;
    }
}
.img
{
    width: 100%;
}
.text-gold
{
    color:$gold;
}
.friendlist
{
    list-style: none;
    text-align: center;
    
}
.useractive
{
    color: $active;

}
.unuseractive
{
    color: $unactive;
}
.plcae
{
    height: 28vh;
    border: 1px solid red;
    transition: 1s;
    text-align: center;
    color:$secondary;
    
}
.plcae:hover
{
    transition: 1s;
    background-color: transparent;
    transform: scale(0.9);
    
}
.form-login input
{
    background-color: transparent;
}
.notsetloginaction
{
    transition: 2s;
    background-color: $secondary;
    border: none;
}
.tt input
{
    color:#3bfc00;
    background-color: opacify($color: #000000, $amount: 0);
    opacity: 0;
}
.term
{
    color:#3bfc00;
    
}
.loginBack
{
    background-image: url(https://i.pinimg.com/564x/f4/e4/8f/f4e48f4c3c97dcfa982b0ad9ac5cf716.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.teminal
{
    background-color: #00000059;
}
.colors
{
    border: 5px solid;
    border-radius: 5px;
    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes colors {
    0%
    {
        border-color: #3bfc00;
    }
    25%
    {
        border-color:  aqua;
    }
    50%
    {
        border-color: rebeccapurple;
    }
    75%
    {
        border-color: pink;
    }
    100%
    {
        border-color: #3bfc00;
    }

}