::-webkit-scrollbar{
   overflow:hidden ;
   width: 0px;
}

body
{
    background: url(https://i.pinimg.com/564x/f4/e4/8f/f4e48f4c3c97dcfa982b0ad9ac5cf716.jpg) no-repeat center fixed; ;
    background-size: cover;
    color: $primary;    
}

.WebError
{
    width: 100%;
    text-align: center;
    font-size: 400%;
    animation-name: Error;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.text-gold
{
    color:$gold;
}
.FriendList
{
    list-style: none;
    text-align: center; 
}
.UserActive
{
    color: $active;
}
.UserAway
{
    color: $warning;
}
.UserNotActive
{
    color: $unactive;
}
.Place
{
    height: 28vh;
    border: 1px solid red;
    transition: 1s;
    text-align: center;
    color:$secondary;
    
}
.Place:hover
{
    transition: 1s;
    background-color: transparent;
    transform: scale(0.9);
    
}
.NotSetLoginSelection
{
    transition: 2s;
    background-color: $secondary;
    border: none;
}
.LoginForm, .LoginForm:focus
{
    color: white;
    background-color: #00000027;
    font-size: 30px;
    border: 1px solid;
    border-radius: 5px;
    animation-name: BorderColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.LoginForm:hover ,.LoginForm:focus
{
    background-color: #36363677;
    transition: 1s;
    margin-left: 10px;
}
.LoginSubmit
{
    animation-name: BackGroundColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: black;
}

.BorderColor
{
    border: 5px solid;
    border-radius: 5px;
    animation-name: BorderColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.FriendRemove, .FriendOptionList
{
    border-radius: 10px;
    background-color: $secondary;
}
.FriendRemove:hover
{
    background-color: $danger;
    transition: 1s;
    
}
.LoginAnimation
{
    position: absolute;
}
.Terminal
{
    position: relative;
    background-color: #0000002f;
    height: 380px;
}
.LoginSubmitAnimation
{
    transition: 1s;
    transform: translateY(215px);
}
.ChangeAnimationMove
{
    transition: 1s;
    transform: translateY(170px);
}
.PasswordAnimationMove
{
    transition: 1s;
    transform: translateY(100px);
}
.NickAnimationMove
{
    transition: 1s;
    transform: translateY(20px);
}
.Register
{
    height: 420px;
}
.Login
{
    height: 200px;
}
.TerminalAnimation
{
    transition: 1s;
    height: 380px;
}
.DarkerBackground
{
    background-color: #000000a2;
}
.PlaceX
{
    background-color: red;
}
.PlaceO
{
    background-color: aqua;
}
.PlaceX:hover
{
    background-color: rgba(255, 0, 0, 0.185);
}
.PlaceO:hover
{
    background-color: rgba(0, 255, 255, 0.185);
}