::-webkit-scrollbar{
   overflow:hidden ;
   width: 0px;
}

body
{
    background: url(https://i.pinimg.com/564x/f4/e4/8f/f4e48f4c3c97dcfa982b0ad9ac5cf716.jpg) no-repeat center fixed; ;
    background-size: cover;
    color: $primary;    
}

.weberror
{
    width: 100%;
    text-align: center;
    font-size: 400%;
    animation-name: err;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes err
{
    0%
    {
        color: lightcoral;
    }
    50%
    {
        color: red;
    }
    100%
    {
        color: lightcoral;
    }
}
.img
{
    width: 100%;
}
.text-gold
{
    color:$gold;
}
.friendlist
{
    list-style: none;
    text-align: center;
    
}
.useractive
{
    color: $active;

}
.unusersleep
{
    color: $warning;
}
.unuseractive
{
    color: $unactive;
}
.plcae
{
    height: 28vh;
    border: 1px solid red;
    transition: 1s;
    text-align: center;
    color:$secondary;
    
}
.plcae:hover
{
    transition: 1s;
    background-color: transparent;
    transform: scale(0.9);
    
}
.notsetloginaction
{
    transition: 2s;
    background-color: $secondary;
    border: none;
}
.term
{
    color:#3bfc00;
    
}
.loginform, .loginform:focus
{
    color: white;
    background-color: #00000027;
    font-size: 30px;
    border: 1px solid;
    border-radius: 5px;
    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.loginform:hover ,.loginform:focus
{
    background-color: #36363677;
    transition: 1s;
    margin-left: 10px;
}
.loginsubmit
{
    animation-name: backcolors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: black;
}

.colors
{
    border: 5px solid;
    border-radius: 5px;
    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes colors {
    0%
    {
        border-color: #fc0000;
    }
    25%
    {
        border-color:  rgb(255, 196, 0);
    }
    50%
    {
        border-color: rgb(107, 0, 214);
    }
    75%
    {
        border-color: rgb(0, 3, 202);
    }
    100%
    {
        border-color: #fc0000;
    }

}
@keyframes backcolors {
    0%
    {
        background-color: #fc0000;
    }
    25%
    {
        background-color:  rgb(255, 196, 0);
    }
    50%
    {
        background-color: rgb(107, 0, 214);
    }
    75%
    {
        background-color: rgb(0, 3, 202);
    }
    100%
    {
        background-color: #fc0000;
    }

}
.FriendOptions, .FriendOptionList
{
    border-radius: 10px;
    background-color: $secondary;
}
.FriendOptions:hover
{
    background-color: $danger;
    transition: 1s;
    
}
.loginanimation
{
    position: absolute;
}
.teminal
{
    position: relative;
    background-color: #0000002f;
    height: 380px;
}
.loginanimationmove
{
    transition: 1s;
    transform: translateY(215px);
}
.changeanimationmove
{
    transition: 1s;
    transform: translateY(170px);
}
.passwordanimationmove
{
    transition: 1s;
    transform: translateY(100px);
}
.nickanimationmove
{
    transition: 1s;
    transform: translateY(20px);
}
.terminalregister
{
    height: 420px;
}
.termianllogin
{
    height: 200px;
}
.terminalanimation
{
    transition: 1s;
    height: 380px;
}
.DarkerBackground
{
    background-color: #000000a2;
}