@media only screen and (max-width: 600px) {
    .LoginFormContainer
    {
        width: 90%;
        justify-content: center;

        animation-name: LoginStartPart1;
        animation-iteration-count: 1;
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-fill-mode: backwards;
    }

    .Login
    {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .MainContainer
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .MainScreen
    { 
        width: 90%;
        border: 0px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to left, $primary, $secondary);
        
    }
    .MainUserInfo
    {
        border: 0px;
        height: 120px;
        width: 100%;
    }

    .MainUserFriend
    {
        border: 0px;
        width: 100%; 
        font-size: 150%;
    }



    
}