::-webkit-scrollbar
{
    display: none;
}
html,body
{
    height:100%;
    width: 100%;
    background-color: $body;
}
.LoginFormContainer
{
    padding: 5px;
    text-align: center;
    border: 0px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, $primary, $secondary);
}
.LoginChoseAction
{
    display: inline-flex;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 5px;
    position: relative;
    background-color: $loginaction;
}
.LoginActionBtn
{
    width: 50%;
    position: absolute;
}
.RegisterActionBtn
{
    width: 50%;
    position: absolute;
    transform: translateX(100%);
}

.LoginActionSelect
{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: aqua;
}
.LoginActionSelectLogin
{
    animation-name: LoginSetAction;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}
.LoginActionSelectRegister
{
    animation-name: LoginSetAction;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.LoginEventBtn
{
    margin-bottom: 5px;
    text-align: center;
}
.LoginInputForm, .LoginInputForm input, .LoginEventBtn
{
    width: 90%;
    height: 40px;
    font-size: 30px;
    margin-bottom: 5px;

    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, $primary, $secondary);
    
}
