@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .LoginFormContainer
    {
        width: 60%;
        justify-content: center;
        
        animation-name: LoginStartPart1;
        animation-iteration-count: 1;
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-fill-mode: backwards;
    }

    .Login
    {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .MainScreen
    {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    .MainUserInfo
    {
        width: 45%;
        height: 200px;
        margin-right: 5%; 
    }

    .MainUserFriend
    {
        width: 40%; 
        font-size: 150%;
    }


    
    
}